/* App.css*/

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: white;
  --secondary-color: black;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
   
}

 
a {
  color: #d74180;
  font-size: 16px;
}
 
a:hover{
  color: #808080;
}
 
section {
  padding: 20px;
}
 
p {
  font-size: 16px;
}
 
h4, p {
  padding-bottom:5px;
  margin: 0;
}
 
.title {
  font-weight: 600;
}
 
.journal-header {
  background: url("../public/images/beatlescapa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 36px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}
 
/* .material-symbols-outlined {
  font-variation-settings:
    'wght' 200,
    'GRAD' 20,
    'opsz' 24,
} */
 
.card-img {
 
  min-width: 300px;
  border-radius: 9px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
  display: block;
}
 
.card-country {
  font-size: 18px;
  padding-right: 10px;
}
 
.card-country-title {
  font-size: 40px;
}
 
/* .card-date {
  font-size: 20px;
}
  */
.card {
  /* align-items: center; */
  /* width: 175px; */
  display: flex;
  flex-direction: row;
  font-size: 12px;
  flex: 0 0 auto;
  position: relative;
  margin-top: 80px;
  margin-right: 15px;
  margin-left: 15px;
   
   
}
 
.column-left {
  flex: 40%;
  padding-right: 30px;
}
 
.column-right {
  flex: 40%;
}
 
.journal-footer {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #5a595a;
  height: 130px;
 
  display: flex;
  color: white;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}
 
.footer-caption {
  padding-left: 5px;
}

/* LAYOUT */


.linkLayout {
  text-decoration: none;
  color: inherit;
  font-family: Outfit;
  font-size: 20px;
  position: relative;
  bottom: 50px;
}

.link {
  font-family: Playwrite GB J;
  font-size: 45px;
  text-decoration: none;
  color: inherit;
}

.linkOpcoes {
  font-family: Playwrite GB J;
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}

/* For mobile phones: */
[class*="card-"] {
  width: 100%;
  flex-direction: column;
 
}
 
/* media queries */
@media (max-width: 400px) {
  .card {
    background-color: #de3163;
  }
}

/* LAYOUT */

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/images/beatleslayout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.whiteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: none;
  /* height: 70vh;
  width: 70%; */
  height: 50vh;

  padding: 10px;
  background: blue;
  position: relative;
  top: 100px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

/* sx={{fontSize: '65px', fontFamily: " Playwrite GB J", position: 'relative', bottom: '50px'}} */

#beatlesTitle {
  font-size: 65px;
  font-family: Playwrite GB J;
  position: relative;
  bottom: 50px;
}

@media (max-width: 1280px) {
  .whiteBox {
   width: 50%;
   height: 50%;
   border-radius: 10px;
  }
  iframe, .stand-1, .stand-2 {
    display: none;
   }
   .linkLayout {
    font-size: 30px;
   }
}

@media (max-width: 375px) {
  .whiteBox {
    width: 70%;
  }
  #beatlesTitle {
    font-size: 30px;
  }
  .linkLayout {
    font-size: 15px;
   }
}

@media (max-width: 415px) {
  .whiteBox {
    width: 80%;
  }
  #beatlesTitle {
    font-size: 30px;
  }
  .linkLayout {
    font-size: 20px;
   }
}


.game {
  border-image: linear-gradient(hsl(240 100% 50% / .3), hsl(0 100% 50% / .3)) fill 1;
}

iframe {
  max-width: 30rem;
  border-top: 40px groove var(--primary-color);
  border-bottom: 40px groove var(--primary-color);
  border-right: 28px solid var(--secondary-color);
  border-left: 28px solid var(--secondary-color);
  position: relative;
  top: 65px;
  
}

.stand-1 {
  height: 60px;
  width: 6px;
  background-color: var(--primary-color);
  transform: rotate(40deg);
  position: relative;
  top: 50px;
  left: 182px;
}

.stand-2 {
  height: 60px;
  width: 6px;
  background-color: var(--secondary-color);
  transform: rotate(-40deg);
  position: relative;
  bottom: 5px;
  left: 220px;
}

.fundoTeste {
  background: url("../public/images/funtopreto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .game {
  border-image: linear-gradient(hsl(240 100% 50% / .3), hsl(0 100% 50% / .3)) fill 1;
} */

/* FUNDO DESFOCADO */

/* .hero {
  background-image: url("../public/images/fundoirado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  height: 100vh;
  place-content: center;
  text-align: center;
} */

/* ARQUIVO TESTE */

.teste {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: white;
  /* background: #41295a;  
  background: -webkit-linear-gradient(to right, #2F0743, #41295a); 
  background: linear-gradient(to right, #2F0743, #41295a);  */
  color: black;
}

.bloco1 {
  position: relative;
  bottom: 17%;
  
}

.bloco2 {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: #2d1d3f; */
}

.blocos {
  border-radius: 5px;
  width: 40vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  color: white;
}

.blocos:hover {
  transform: scale(1.1);
}

@media (max-width: 1119px) {
  .teste {
    flex-direction: column;
    gap: 0;
    padding: 30px;
  }
}

/* DESENHO */

.desenho {
  border: 1px solid white;
  width: 90%;
  height: 60%;
  transform: rotate(-5deg);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.cssbuttons-io-button {
  background: white;
  color: black;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em white;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  width: 50%;
}

.cssbuttons-io-button .icon {
  background: black;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em white;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: white;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

